/* INDEX */
/* MAIN */
// NESTING (&)
/* Jumbotron */
.jumbotron {
  height: 30rem;
  width: 100%;
  background-color: $bg-color2;
  & h1 {
    text-shadow: 4px 4px 2px rgba(32, 178, 170, 1);
  }
}
.btn {
  background-color: $bg-color1;
  box-shadow: 8px 10px 15px 0px rgba(235, 235, 235, 0.75);
  -webkit-box-shadow: 8px 10px 15px 0px rgba(235, 235, 235, 0.75);
  -moz-box-shadow: 8px 10px 15px 0px rgba(235, 235, 235, 0.75);
  border: 1px solid #ebebeb;
  &:hover {
    background-color: $bg-hover;
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
  }
}
