// VARIABLES
$f-family1: "Roboto Condensed", sans-serif;
$bg-color1: rgb(32, 178, 170);
$bg-color2: rgba(0, 0, 0, 0.811);
$bg-hover: rgb(46, 223, 214);
$bg-color3: #8e9eab;
$bg-color4: #ebebeb;
$t-align: center;
$transform: translateY(-10px);
$width: 100%;
